<footer class="page-footer font-small pt-4 bg">

    <div class="container">
        <div class="row"></div>
        <div class="col-md-12 d-flex justify-content-center">
            <h4 class="text-white">Siga-nos nas redes sociais</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">

            <ul class="social-network">
                <li>
                    <a href="https://www.facebook.com/bia.lirios.5" target="_blank" class="icoFacebook">
                        <i class="fa fa-facebook-official" aria-hidden="true"></i>
                    </a>
                </li>

                <li>
                    <a href="https://www.instagram.com/bialirios/" target="_blank" class="icoInstagram">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </li>

                <li>
                    <a href="https://www.linkedin.com/in/beatriz-rochelly/" target="_blank" class="icoLinkedin">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                </li>

                <li>
                    <a href="https://github.com/BeatrizRochelly" target="_blank" class="icoGitHub">
                        <i class="fa fa-github-square" aria-hidden="true"></i>
                    </a>
                </li>

                <li>
                    <a href="https://www.youtube.com/channel/UCY9aXz35jD_67PjKsR1dJTg" target="_blank" class="icoYouTube">
                        <i class="fa fa-youtube-square" aria-hidden="true"></i>
                    </a>
                </li>






            </ul>
        </div>
    </div>
<div class="footer-copyrigth bg-dark text-center py-3">
    <span class="text-light">
        Ⓒ 2022 Copyright:
    </span>
    <a class="text-light" target="_blank" href="https://brazil.generation.org/">brazil.generation.org</a>
</div>

</footer>
